.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	.content {
		flex: 3;
		margin-right: $freeSpace;
		margin-bottom: $freeSpace;
		//padding: $freeSpace;
		min-height: 100px;
	}
	.sidebar {
		flex: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		.box {
			margin-right: $freeSpace;
			padding: $freeSpace;
			width: 100%;
			min-height: 100px;
			margin-bottom: $freeSpace;
			background-color: $whiteColor;
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.content {
			flex: 1;
			margin-right: 0;
			margin-bottom: $freeSpace;
		}

		.sidebar {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
		.box{
			margin-right: $freeSpace;
		}
	}
	@media (max-width: 768px) {
		.content {
			flex: 1;
			margin-right: 0;
			margin-bottom: $freeSpace;
		}
	}
	@media (max-width: 991px) {
		.container {
			flex-direction: column-reverse;
		}
	}
}
