        <footer class="footer">
            <div class="container">
                footer
            </div>
        </footer>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="<%= assetFingerprint('/javascripts/javascripts.js') %>"></script>
    </body>
</html>
